<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="milky_lorem_ipsum_api" controller="milky_lorem_ipsum.api_controller:index" path="/" >
        <!-- settings -->
    </route>
</routes>