<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    {% for path in encore_entry_css_files('app') %}
        <link rel="stylesheet" href="{{ absolute_url(path) }}">
    {% endfor %}
</head>
<body style="background-color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Weekly report {{ 'now'|date('Y-m-d') }}</h1>

                {{ include('email/_report-table.html.twig') }}
            </div>
        </div>
    </div>
</body>
</html>